{#
/**
 * @file
 * Default theme implementation to start end date range. 
 *
 * Available variables:
 *   - start_date: the start date.
 *   - end_date: the end date.
 *   - separator: the date separator.
 *
 * @ingroup themeable
 */
#}
{{ start_date }} {{ separator }} {{ end_date }}
